site_name: Python tutorial
site_url: http://127.0.0.1:8000
site_description: Python darslari
site_author: Murodillo Hasanov
site_description: >-
  Python darslar
# Repository
repo_name: omadli/python-tutorial
repo_url: https://github.com/omadli/python-tutorial
copyright: Copyright &copy; 2022 - 2023 Murodillo Hasanov
theme:
  name: material
  include_sidebar: False
  highlightjs: true
  hljs_languages:
      - python
      - shell
      - html
  features:
    # - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.ico
  icon:
    logo: logo

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

# Customization
extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/omadli
    - icon: fontawesome/brands/telegram
      link: https://t.me/murodillo17

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Python beginner:
    - So\'zboshi: python_beginner/sozboshi.md
    - Python haqida: python_beginner/python_haqida.md
    - Pythonni o'rnatish: python_beginner/pythonni_ornatish.md
    - IDE muhit sozlash:
      - IDE lar: python_beginner/idelar.md
      - Vscode: python_beginner/vscode.md
      - Pycharm: python_beginner/pycharm.md
    - Python sintaksisi: python_beginner/python_sintaksisi.md
  - Python core:
    - So\'zboshi: python_core/sozboshi.md
  - Django:
    - So\'zboshi: django/sozboshi.md
  - Telegram bot:
    - So\'zboshi: telegram_bot/sozboshi.md
    - Aiogram: 
      - O\'rnatish: telegram_bot/aiogram/ornatish.md
  - Tips and Trics:
    - So\'zboshi: tips_and_trics/sozboshi.md